<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="local-nuget" value="https://artifacts.tech.byndyusoft.com/repository/nuget-hosted/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <local-nuget>
            <add key="Username" value="%userRegistry%" />
            <add key="ClearTextPassword" value="%passRegistry%" />
        </local-nuget>
    </packageSourceCredentials>
</configuration>